<div class=" group max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700 ">
  <img class="w-full overflow-hidden rounded-t-lg bg-gray-200 mb-3 object-cover object-center group-hover:opacity-75" [ngSrc]="product.images[0]" [alt]="product.title" width="640" height="640" priority />
  <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ product.title }}</h5>
  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{ product.price | globalCurrency}}</p>
  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{ product.description}}</p>
  <button (click)="addToCartHandler()" class="inline-flex font-medium items-center text-blue-600 hover:underline cursor-pointer">
    Add to cart
  </button>
</div>
