<div class="px-10">
  <h1 class="font-bold">About</h1>
  <p class="pb-2 font-medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, illum!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam incidunt dolorem in nulla. Dolore quibusdam
    inventore ut aliquam dolorem, repellendus atque quod recusandae reiciendis fuga ipsam obcaecati praesentium sequi?
    Voluptates deserunt cumque exercitationem ratione magni atque beatae. Tempora quod, voluptatem nihil totam odit fuga
    sapiente, officiis impedit eum eos modi voluptate velit, ipsum error quia sint! Doloribus, laboriosam fugiat?
    Voluptatem consequatur doloremque odit ullam deserunt rem suscipit rerum aut corporis tenetur. Quasi optio ad ut,
    voluptatibus consectetur, eligendi saepe molestias cumque velit sint numquam ab, voluptatem temporibus. Illum, et?
    Doloremque non ipsam ex nulla quo nisi corrupti quisquam fuga impedit esse quae eveniet, facere praesentium sunt
    aspernatur officiis et similique inventore assumenda numquam aliquid. Ab natus porro ipsum ipsam.
    Fuga quam architecto placeat rem? Doloremque et, sint delectus sunt repellendus, magnam dolores temporibus velit
    omnis veniam atque, repudiandae veritatis. Veniam laborum nulla aspernatur expedita maiores. Voluptates cumque nulla
    deleniti.
    Tenetur harum sapiente porro, commodi exercitationem maxime excepturi provident unde labore natus quos laboriosam
    reprehenderit fugit magni repudiandae quam repellendus rerum ratione? Ea blanditiis repellat corrupti iusto aliquid
    enim esse!
    Voluptate et veritatis commodi velit, quae eaque omnis unde, esse asperiores dolorum nam eligendi deserunt
    perspiciatis libero veniam deleniti dolores recusandae, tempora quod nostrum eveniet quaerat. Ea non aspernatur
    doloribus.
    Aspernatur dolorem voluptas dolore ipsa nisi, libero dolor dignissimos voluptate enim ratione dolorum quae nihil
    repellat consequatur! Officiis vel sed voluptatum temporibus! Odio, alias debitis repellendus excepturi aliquam quos
    labore?
    Aut at quisquam consectetur ducimus impedit aperiam quia sequi laboriosam debitis! Pariatur optio quis omnis non?
    Non, consectetur. Ad vero earum dignissimos tempore placeat, aspernatur nam dicta at ipsum eos?
    Explicabo at eos officiis alias quas dignissimos quo adipisci minus fugit quos magnam molestiae itaque, ex repellat
    quod iste atque dolor quasi totam consequuntur, architecto neque similique incidunt! Explicabo, dolor!</p>


  <h2 class="font-semibold">
    Numero de clientes
    @if(duration() > 0){
    <app-counter [duration]="duration()" [message]="message()"></app-counter>
    }
  </h2>

  <p>
    <app-wave-audio audioUrl="audio.mp3"></app-wave-audio>
  </p>


</div>
