
  <h1 class="font-bold">About</h1>
  <p class="pb-2 font-medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, illum!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam incidunt dolorem in nulla. Dolore quibusdam
    inventore ut aliquam dolorem!</p>


  <h2 class="font-semibold">
    Numero de clientes
    @if(duration() > 0){
    <app-counter [duration]="duration()" [message]="message()"></app-counter>
    }
  </h2>

  <p>
    <app-wave-audio audioUrl="audio.mp3"></app-wave-audio>
  </p>






