<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse dark:text-white ">
      <button type="button" (click)="toggleSideMenu()"
        class="flex relative text-sm rounded-full md:me-0 h-8 w-8 items-center justify-center focus:bg-gray-300 dark:focus:bg-gray-800">
        <small
          class="absolute scale-75 z-10 inline-block -right-1 -top-1 w-5 h-5 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm  tooltip dark:bg-gray-700"
          [class.opacity-0]="!cart().length" [class.opacity-1]="cart().length">{{cart().length}}</small>
        <span class="sr-only">Open user menu</span>
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </button>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row  md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 text-black md:text-blue-700 md:dark:text-white">
        <li>
          <a routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{exact:true}"
            class="block py-2 px-3 m-0 bg-blue-700 rounded md:bg-transparent">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="underline"
            class="block py-2 px-3 m-0 bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-white">
            About</a>
        </li>


      </ul>
    </div>
  </div>
</nav>


<div
  class="fixed border-l-4 text-black dark:text-white right-0 top-0 z-40 w-72 h-screen p-4 overflow-y-auto transition-transform  bg-white dark:bg-gray-900 "
  [class.translate-x-full]="hideSideMenu()">
  <!-- HEADER -->
  <div class="flex w-full flex-nowrap items-center justify-between mb-4">
    <h1 class="font-bold text-lg">Cart</h1>
    <button type="button" (click)="toggleSideMenu()"
      class="flex text-sm rounded-full md:me-0 h-8 w-8 items-center justify-center focus:bg-gray-300 dark:focus:bg-gray-800">
      <span class="sr-only">Close user cart</span>
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
  </div>

  <!-- BODY -->

  <ul class="space-y-2 font-medium">

    <!-- BILL HEADER -->
    <li
      class="bg-slate-300 dark:bg-slate-700 rounded-t flex items-center justify-between p-3 pr-5 text-gray dark:text-white mb-3">
      <span>ITEM</span>
      <span>PRICE</span>
    </li>

    <!-- BILL BODY -->
    @for( product of cart(); track product.title){
    <li class="grid grid-cols-[1fr_min-content]  gap-2 justify-between pl-2 pr-4 mb-3 text-gray-900 dark:text-white">
      <div class="flex flex-col justify-center items-start">
        <span class="ms-3">{{product.title | truncate:30}}</span>
        <small class="ms-3 dark:text-gray-400">{{product.description | truncate:30}}</small>
      </div>
      <div class="flex justify-center items-center">
        <span class="ms-3 dark:text-gray-400">{{product.price | globalCurrency}}</span>
      </div>
    </li>
    }

    <!-- BILL FOOTER -->
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

    <li class="flex items-center justify-between text-gray-900 dark:text-white">

      <span class="ms-3">TOTAL</span>



      <span class="ms-3 dark:text-gray-400">{{total() | globalCurrency}}</span>

    </li>

  </ul>
</div>
